html, body {
     margin: 0px;
     padding: 0px;
     overflow: hidden;
 }
#gui{
  opacity:1;
  position: fixed;
  display: block;
  z-index: 5;
 }
#sim{
  opacity:1;
  position: relative;
  right: 0;
  display: block;
  z-index: 1
 }

#time{
  opacity:1;
  position: fixed;
  top:20px;
  right: 100px;
  display: block;
  z-index: 5;
  color: white;
  font-size: 25pt;
  font-family: sans-serif;
 }

.button{
  fill: #aaa;
  opacity: .95;
  cursor:pointer;
}
.button > text{
  fill: #000;
  opacity: 1;
}
.highlight{
  fill: rgba(196,119,73,1);
  opacity: .95;
}
.selected{
  fill: #840;
  opacity: .95;
  cursor:pointer;
}
text{
  font-family: "Trebuchet MS", Helvetica, sans-serif ;

}
#stats{
  right: 0;
  z-index: 15;
}
